
.logo{
    width: 32px;
    height: 32px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: baseline;
    height: 100%;
}

.boxHeader{
    flex-basis: 15%;
}

.boxBody{
    flex:auto;
}

.boxFooter{
    flex-basis:15%;
}



legend{
        gap: 1vh;
    background: #0000004a;
    font-size: 2vh;
     text-align: start; 
     line-height: 6vh;
     align-items: center;
     padding-inline: 2vh;
}

    .card{

        background-color: #333;
        border-radius: 1vh;
        font-size: 2vh;
        font-family: serif;
        align-items: center;
        box-shadow: 0 0 5px 1px #041019;
        display: grid;
        gap:0;
        
    }


.miniBg{
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: left;
}

@keyframes ataque {
    0% {
        transform: skewX(-2deg)
    }

    50% {
        transform:skewX(0deg);
    }
    
    100% {
        transform: skewX(2eg);
        
    }
}

span.active, span:hover{
      /*background-color: #333;*/
      
   }
.mainMenu{
    animation: activeMenu 1s ease forwards;
}


.mainMenu.off{
    display: none;
   }


@keyframes activeMenu {
    0%{
        box-shadow:none;
    }
    20%{
        box-shadow: inset 0px 0px 0px 0px #117e118f;
    }
    100%{
        box-shadow: inset 1px 1px 6px 1px #117e118f;
    }
}
