
.btnMain{
  font-size: 2.5vh;
}

.btnMain.active{
  animation: main 0.5s ease-in-out forwards;
}


#menuBotoes>button{
  
    border-radius: 5px;

    &:focus-visible, &:hover, &.active{
      cursor: pointer;
      color: #2ce038;
      
      transform: translateY(-1px) scale(1.1);
      transition: all 1s;
    }
}


input, button{
    /* Bloqueia a seleção de texto e os destaques nativos de toque */
  -webkit-user-select: none;  /* Safari/Chrome iOS */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge antigo */
  user-select: none;          /* Padrão moderno (Android/Chrome) */
  
  /* Remove o brilho azul azulado ao tocar no celular (Android/iOS) */
  -webkit-tap-highlight-color: transparent; 
}

@keyframes main {
    0%{
        
    }
    80%{
        
        
    }
    100%{
        box-shadow: none;
    }
}



#seq.active{
  color:green;

}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:white;
  padding: 2vh;
}

.card:hover{
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 3px black;
    transition: all 0.5s;
}