

input.vert, input[type="range" i], input[type=range] {

   writing-mode: vertical-lr; 
  direction: rtl; 
  -webkit-appearance: none;
  appearance: none;
  
  /* 1. COMPRIMENTO: Define a altura dele em pé na tela */
  height: 45vh; 
  
  /* 2. ESPESSURA DA CAIXA: Deve ser igual ou maior que a ALTURA do botão */
  width: clamp(1.2vh, 1.8vh, 2vh); 
  
  background: #333333;                 
  outline: none;
  cursor: grabbing;
}

/* --- O BOTÃO (FADER) --- */

/* Chrome, Safari e Edge */
input.vert::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  
  width: 2em; /* <--- Altere aqui para controlar a largura do fader! */
  
  /* 4. ALTURA DO BOTÃO: Define a altura da peça que você arrasta */
  height: clamp(1.5vh, 2.7vh, 1.4vh); 
  
  /* Seus estilos visuais mantidos */
  

  box-shadow: inset 0px -1px 8px 5px #0e0716;
  
  cursor: grab;
  margin-top: 0; 
}


.btnMain.active{
  animation: main 0.5s ease-in-out forwards;
}


button{
  
    border-radius: 5px;

    &:focus-visible, &:hover, &.active{
      cursor: pointer;
      color: #2ce038;
      transform: translateY(-1px) scale(1.2);
      transition: all 1s;
    }
}


input, button{
    /* Bloqueia a seleção de texto e os destaques nativos de toque */
  -webkit-user-select: none;  /* Safari/Chrome iOS */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge antigo */
  user-select: none;          /* Padrão moderno (Android/Chrome) */
  
  /* Remove o brilho azul azulado ao tocar no celular (Android/iOS) */
  -webkit-tap-highlight-color: transparent; 
}

@keyframes main {
    0%{
        
    }
    80%{
        
        
    }
    100%{
        box-shadow: none;
    }
}



#seq.active{
  color:green;

}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:white;
  padding: 2vh;
}

.card:hover{
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 3px black;
    transition: all 0.5s;
}