
/* Sequencer UI */
#sequencer-grid-container {
    background: rgba(0, 0, 0, 0.3);
    height: stretch;
    gap:2vh;
    padding: 4vh;
    width: 100%;
    overflow: scroll;
}

#sequencer-meta-controls{
        gap: 3vh;
    justify-content: end;
        width: 25%;
        height: 100%;
        align-items: center;
}

.sequencer-row {
    display: flex;
    align-items: center;
    
}

.inst-thumb {
    width: 24px;
    height: 32px;
    object-fit: cover;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
}

.inst-label {
    display: flex;
    justify-content: start;
    gap: 2vh;
    width: 100%;
    min-width: 20%;
    align-items: center;
    text-align: end;
    font-size: 0.7rem;
    color: #ccc;
    text-transform: capitalize;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    gap: 2vh;
}

.step {
    flex: auto;
    height: 6vh;
    background: #333;
    border-radius: 2px;
    cursor: pointer;
}

.step.active {
    background: #00ff88;
    box-shadow: 0 0 5px #00ff88;
}

.step.current {
    background: #00ff880d;
    transform: scale(1.1);
}
