
/* Sequencer UI */
#sequencer-grid-container {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    gap: 2vh;
    justify-content: center;
    overflow-y: scroll;
}


#sequencer-meta-controls{
    width: 25%;
    align-items: center;
}

#controlSeq{
        padding: 2vh;
    align-items: center;
    gap: 2vh;
}

#controlSeq > button{
        font-size: 3.5vh;
    align-items: center;
        background: black;
    padding: 2vh;
    border-radius: 1.5vh;
    

    &:hover{
        background-color: #00ff881f;
    }
}



.sequencer-row {
    display: flex;
    align-items: center;
    
}

.inst-thumb {
    width: 24px;
    height: 32px;
    object-fit: cover;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
}



.inst-label {
    display: flex;
    justify-content: start;
    gap: 3vh;
    width: 90%;
    min-width: 20%;
    align-items: center;
    text-align: end;
    font-size: 0.7rem;
    color: #ccc;
    text-transform: capitalize;

    &>a{
        min-width: 10%;
        font-size: 2vh;
    }
}

.steps-container {
    display: flex;
    justify-content: space-around;
    gap: 2vh;
}

.step {
      
    background: black;
    border-radius: 1vh;
    
    width: 3vw;
    height: 5vh;
}

.step.active {  
    background: #00ff88;

    &:hover{
        background: rgba(216, 37, 37, 0.352);
    }
}

.step.current , .step:hover{
    
    background: #a4bba438;
    cursor: cell;
}

 #step-count{
   outline: none;
    font-size: 2vh;
    background: rgba(128, 0, 128, 0.373);
    color: white;
    padding: 2vh;
    border-radius: 1vh;
    border: none;
    box-shadow: 1px 2px 15px 2px black;
 }  
       