
@import url('elems.css');
@import url('drumsMobile.css');
@import url('drums.css');
@import url('flex.css');
@import url('input.css');
@import url('mobile.css');
@import url('sequencer.css');
@import url('equalizer.css');


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

    html,body
    {
            touch-action: manipulation !important; 
    
    /* Garante que o usuário não consiga dar o zoom de pinça (pinch-to-zoom) por engano */
    
    }

    .landShow{
        opacity: 0;
        @media (orientation: landscape) {
            opacity: 1;
        }
    }

    body {
        background: #222;
        color: #ffff;
        font-family: sans-serif;
        text-align: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        margin:0;
    }

    header{
            background: linear-gradient(45deg, black, #262713);
        flex: auto;
    }

    footer{
        background-color:black;
        
    }

    :focus-visible{
            outline: none;
    box-shadow: -1px 1px 10px 3px rebeccapurple !important;

    }

    aside{
        align-items: center;
        align-content: center;
        width: 15%;
        height: 100%;
        background-color: #333;
            animation: activeMenu 1s forwards;
    }

aside.off{
  display: none;
}

aside.on{
  display: flex;
}

    .showDesk{
        display: none;
        @media (min-width:700px){
            display:block;
        }
    }

    main{
        background-color: #222;
        flex:auto;
        height: 87vh;
    }

    .btnModelo{

         &#mobile{background-image: url(../imgs/mobile/bumbo.png);}
            &#heavy{background-image: url(../imgs/heavy/bumbo.png);}
            &#normal{background-image: url(../imgs/normal/bumbo.png);}
            &#light{background-image: url(../imgs/light/bumbo.png);}
            &#perc{background-image: url(../imgs/perc/bumbo.png);}
    }

    .btnModelo{

            background-size:45%;
            
            width: 100%;
            flex:auto;

            font-size: 3vh;
            
            background-position: -5px;
            background-repeat: no-repeat;
            

            transition:  all 1s ;



        &.active{

            background-size:150%;
            color: white;
            text-shadow: 1px 1px 1px black;
            cursor: pointer;

            background-position: center;

            transition:  all 1s ;

            
        }
    }

         
    .keymap-list{
        display: flex;
        flex-direction: column;
        
    }
  

    .keymap-list{
        background-color: #333;
        border-radius:1vh;
        padding:1vh;
        &>div{
            
           border-width: 2px;
        font-size: 2.5vh;
        font-family: math;
        font-weight: lighter;
        box-shadow: 1px 1px 1px 0px black;

            &>div{
                padding: 8px 2vh;
            }
        }

        
    }

    span,label, button{
        font-size: 2vh;

    }

    .keymap-row{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

        &>.label{
            filter: opacity(0.5);
            width: 50%;
            text-align:end;
        }

        &>.key{
            width: 40%;
            text-align:start;
        }
    }

    .key-icon{
        display:inline-flex;
        align-items:center;
        justify-content:center;
        font-size:1rem;
        opacity:0.9;
    }
 
       
    span > small{
        opacity: 0;
   }

